<a href="/">Cancel</a>
<fieldset>
<legend>Create New Poll</legend>
<p>Add your question and answer options here.</p>
<form (submit)="onSubmit()" #formData='ngForm'>
    <label for="qtext">Question:</label>
    <input type="text" name="qtext"
    required
    minlength="8"
    [(ngModel)]="question.qtext"
    #qtext="ngModel">

    <label for="opt0">Option 1:</label>
    <input type="text" name="opt0"
    required
    minlength="3"
    [(ngModel)]="question.options[0][0]"
    #opt0="ngModel">

    <label for="opt1">Option 2:</label>
    <input type="text" name="opt1"
    required
    minlength="3"
    [(ngModel)]="question.options[1][0]"
    #opt1="ngModel">

    <label for="opt2">Option 3:</label>
    <input type="text" name="opt2"
    required
    minlength="3"
    [(ngModel)]="question.options[2][0]"
    #opt2="ngModel">

    <label for="opt3">Option 4:</label>
    <input type="text" name="opt3"
    required
    minlength="3"
    [(ngModel)]="question.options[3][0]"
    #opt3="ngModel">

    <input type="hidden" value="current_user._id">
    <input type="submit" name="submit" value="Create Poll" [disabled]="formData.invalid">
</form>
</fieldset>

<div id="errors">
    <ul>
        <li *ngIf="qtext.errors">Question text must be at least 8 characters long.</li>
        <li *ngIf="opt0.errors">Option 1 text must be at least 3 characters long.</li>
        <li *ngIf="opt1.errors">Option 2 text must be at least 3 characters long.</li>
        <li *ngIf="opt2.errors">Option 3 text must be at least 3 characters long.</li>
        <li *ngIf="opt3.errors">Option 4 text must be at least 3 characters long.</li>
    </ul>
</div>